:root {
    --first__circle: #003963;
    --second__circle: #008EC5;
    --third__circle: #4BC4F1;
    --center: #e5e5e5;
}

.loader__outer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.loader__circle {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 5px solid transparent;
  border-radius: 50%;
}

.one {
  border-top-color: var(--first__circle);
  border-left-color: var(--first__circle);
  animation: 2s linear 0s infinite normal one;
}

.two {
  width: 125px;
  height: 125px;
  border-right-color: var(--second__circle);
  border-bottom-color: var(--second__circle);
  transform: rotate(45deg);
  animation: 2s linear 0s infinite reverse two;
}

.three {
  width: 100px;
  height: 100px;
  border-top-color: var(--third__circle);
  border-right-color: var(--third__circle);
  animation: 1s linear 0s infinite normal three;
}

.center {
    width: 50px;
    height: 50px;
    animation: center-scale 1s linear 0s infinite alternate;
}

.center__inner {
    width: inherit;
    height: inherit;
    border-left-color: var(--center);
    border-right-color: var(--center);
    animation: center-rotate 1s linear 0s infinite normal;
}

@keyframes one {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes two {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

@keyframes three {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes center-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes center-scale {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}