.modal__outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__inner {
    position: relative;
    padding: 25px;
    border-radius: 15px;
    background-color: #fafafa;
}

.close__btn {
    position: absolute;
    top: 0;
    right: 10px;
    color: #4A87D8;
    cursor: pointer;
}