.login__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 5px;
  height: 100%;
  color: #fafafa;
  background-color: #6237a0;
}

.login__img {
  height: 100%;
  width: 100%;
  max-height: 225px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/rounded-set-6/48/todo-list-512.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.register__btn {
  position: absolute;
  bottom: 20px;
  border: none;
  color: #fafafa;
  text-decoration: underline;
  background: none;
  cursor: pointer;
}
